Source: kpie
Section: gnome
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>= 7), libglib2.0-dev (>= 2.10), libgtk2.0-dev, libwnck-dev (>= 2.12), libx11-dev, liblua5.1-0-dev, pkg-config
Standards-Version: 3.9.4
Homepage: http://github.com/skx/kpie/

Package: kpie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: scriptable window manipulation
 This tool will find windows as they are created and perform actions
 on them, such as resizing, moving to another workspace, or pinning
 them to all workspaces.
 .
 The configuration is carried out via a Lua config file.
